.greenBg {
    background-color: #495e57;
}

.yellowBg {
    background-color: #F4CE14;
}

.orangeText {
    color: #EE9972;
}

.beigeText {
    color: #FBDABB;
}

.greyBg {
    background-color: #EDEFEE;
}

.blackText {
    color: #333333;
}